.halloween-fireworks {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  overflow: hidden;
}

.firework-particle {
  font-size: 2.5em;
  user-select: none;
  will-change: transform, opacity;
  opacity: 0;
  animation: firework-explode 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

@keyframes firework-explode {
  0% {
    transform: translate(0, 0) scale(0.3) rotate(0deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  20% {
    transform: translate(
        calc(cos(var(--angle)) * 30px),
        calc(sin(var(--angle)) * 30px)
      )
      scale(1) rotate(calc(var(--angle) * 0.5));
    opacity: 1;
  }
  50% {
    transform: translate(
        calc(cos(var(--angle)) * 150px),
        calc(sin(var(--angle)) * 150px)
      )
      scale(1.5) rotate(calc(var(--angle) * 1));
    opacity: 1;
  }
  100% {
    transform: translate(
        calc(cos(var(--angle)) * 180px),
        calc(sin(var(--angle)) * 220px)
      )
      scale(0.5) rotate(calc(var(--angle) * 1.5));
    opacity: 0;
  }
}
